<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jungle Creations</title>
</head>
<body>
  code here please
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1654660361262015',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.11'
    });
    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        console.log('Logged in.');
      }
      else {
        console.log('Logging in.');
        FB.login();
      }
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   (function(){
    //  debugger;
   }());
</script>
<div id='page-container'>
  <% include scripts.ejs %>
</div>
</body>
</html>

<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jungle Creations</title>
  </head>
  <body>
    code here please
    <div id='page-container'>
      <% include scripts.ejs %>
    </div>
  </body>
</html> -->
